Source: rnaxplorer
Maintainer: Gregor Entzian <entzian@tbi.univie.ac.at>
Uploaders: Gregor Entzian <entzian@tbi.univie.ac.at>
Section: science
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9.0), autotools-dev, gengetopt, viennarna-dev (>=2.4.14), libgsl-dev
# libgsl-dev needed by viennarna-dev

Package: rnaxplorer
Provides: rnaxplorer
Conflicts: rnaxplorer
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, viennarna-dev (>=2.4.14)
Description: Sample RNA secondary structures and explore the RNA energy landscape.
 RNAxplorer takes an RNA sequence as input and samples secondary structures that
 represent the most important structures of the RNA conformation space and thus
 are well suited to compute RNA folding kinetics.
